.developer
  - count_stories = developer.count_stories
  = "#{developer} (#{count_stories})"
  - if count_stories > 0
    %span.stories_lnk
      %a{:rel => "user-#{developer.user_id}", :title => "Show associated stories"}
        %img{:src => "/assets/icons/list_small.png"}