// Place all the styles related to the Stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Story list */
.stories {
  .story {
    background-color: #F5F5F5;
    display: block;
    padding: 8.5px;
    margin: 0 0 6px;
    font-size: 12px;
    border: 1px solid #EEE;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    &.visible {
      display: block;
    }

    &.hidden {
      display: none;
    }

    a:hover {
      text-decoration: none;
    }
  }
}

/* Statuses */
.statuses {
  font-size: 1em;
  margin-bottom: 10px;

  .status {
    margin-right: 4px;
    padding: 4px 8px 3px;
    cursor: pointer;

    &.selected {
      background: none repeat scroll 0 0 #EFEFEF;
      color: #666666;
      text-shadow: 0 1px 0 white;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      -webkit-box-shadow: inset 0 1px 0 #CCCCCC;
      -moz-box-shadow: inset 0 1px 0 #CCCCCC;
      box-shadow: inset 0 1px 0 #CCCCCC;
    }

    a {
      color: #888888;
      font-weight: bold;
    }

    .count {
      color: #AAAAAA;
      font-size: 0.9em;
    }
  }
}

/* Story labels */
.label {
  &.new {
    background-color: #46a546;
  }
  &.started {
    background-color: #f89406;
  }
  &.accepted {
    background-color: #62cffc;
  }
  &.rejected {
    background-color: #c43c35;
  }
}

/* Developers sidebar */
.developers {
  .developer {
    .stories_lnk {
      float: right;
      margin-top: 2px;
    }
  }
}